/*
 * file: css/css.css
 * purpose: styling: 

 * Krav for opgaven:
    - "External CSS: Struktur og præsentation skal være adskilt"
    - "Performance: Produktet skal være optimeret i relation til Page Load Time"
    - "SEO: Optimer din kode til søgemaskiner"
    - "Semantisk HTML; semantiske tags"
    - Billeder skal optimeres og være webp
    - Alt kode skal valideres
*/

/*------------------------------------------*/

/* BASIS - fjerner eksisterende basis */
*,
*::before,
*::after {
    margin: 0; /*fjerner alt margin, som basis*/
    padding: 0; /*fjerner alt padding, som basis*/
    color: var(--moerk-skrift); /* angiver basis tekst-farve*/
    font-family: "Montserrat", sans-serif; /* font som basis*/
    font-size: 15px; /* angiver skriftstørrelsen for basis teksst*/
    line-height: 1.5; /* angiver linjeafstand for alt tekst*/
    background-color: var(--baggrundsfarve); /*angiver basis baggrundsfarve*/
}


/* GENERELT - ALT HTML */

/* Farvepalette */
:root {
    --hvid: #FFFFFF;
    --moerk-skrift: #2D1B14;
    --brun: #947856;
    --grøn: #9BB93A;
    --beige: #F4E9CE;
    --baggrundsfarve: #F6F9F8;
}

/* Styling - a-tags/links */
a {
    text-decoration: none; /* fjerner streger under links */
    color: var(--moerk-skrift); /* fjerner den blå farve i links */
}

/* Styling - overskrifter */
h1 { 
    font-family: "Quattrocento", serif;
    font-size: 47px;
    font-weight: 550; /* tykkelse af font */
    padding-bottom: 20px; /* angiver afstand til nedenforstående*/
}

/* Styling - under-overskrifter */
h2 {
    font-size: 20px; 
    font-weight: 700; /* tykkelse af font */
    padding-bottom: 15px; /* angiver afstand til nedenforstående*/
    color: var(--brun);
}

/* Styling - citater */
h3 {
    font-size: 16px;
    font-weight: 200; /* tykkelse af font */
    font-style: italic; /* angiver kussiv */
}

/* Styling - alm. tekst */
p {
    padding-bottom: 10px; /* angiver afstand til nedenforstående*/
}

/* Styling - Logo */
.logo {
    max-height: 57px; /* størrelse på logo*/
}

/*------------------------------------------*/


/* NAVIGATIONSBAR - STYLING OG FUNKTIONALITET */

/* Styling - navigations linjen */
.nav {
    z-index: 999; /* Høj værdi, sikrer at menuen vises over andre elementer */ 
    position: relative; /* Angiver korrekt placering af dropdown*/
}

/* Styling - navigationsbaren - ul */
.nav-styling {
    display: flex;
    justify-content: center; /* Centerer ul-elementer */
    align-items: center; /* Vertikalt centerering */
    list-style: none;
}

/* Styling - navigationsbaren - li */
.nav-styling li {
    margin: 20px 30px; /* Afstand mellem li-elementer */
    position: relative; /* Angiver korrekt placering af dropdown*/
    transition: transform 0.3s, font-weight 0.3s; /* Overgangseffekt - gør teksten federe, i bevægelse */
}

/* Effekter - navigationsbaren */
.nav-styling li:hover {
    transform: scale(1.04); /* Forstørrer ved hover */
    font-weight: bold; /* Tykkelse på font ved hover */
}

/* Effekter - Skjul dropdown-menuen som standard */
.dropdown {
    display: none; /* Skjuler */
    position: absolute;
    top: 100%; /* Positioner lige under forældreelementet */
    list-style: none;
    padding: 0;
    z-index: 1000; /*Høj værdi, for at sikre at dropdown overgår andre elementer*/
}

/* Effekter - Vis dropdown-menuen ved hover */
.nav-styling li:hover .dropdown {
    display: block; /* Viser elementer*/
    font-weight: 200; /* Tykkelse på font ved hover */
}


/* Styling - dropdown li */
.dropdown li {
    border-style: solid; /* Angiver streg under elementer */
    border-width: 0 0 0.10rem 0; /* Tykkelse på stregen */
    border-color: var(--brun); /* Farve på stregen */
    list-style: none; /* Fjerner opstillingspunkter */
    margin: 0; /* fjerner den margin, som er angivet for navigationsbaren */
    padding-top: 15px; /* Afstand til ovenforstående element*/
    padding-bottom: 2px;
}




/* 

<input type="checkbox" id="nav-checkbox" class="nav-checkbox"> <!--id skal bruges til checkboksens (til burger) funktion. Class skal style elementerne -->
        
    <!-- Burgerbar img/ikon -->
     <label for="nav-checkbox" class="nav-toggle"> <!--ÆNDRE NAVN-->
     <i class="fas fa-bars"></i> <!--Burger ikon-->
     </label>
                
     <ul class="nav-styling"> 

*/ 





/*------------------------------------------*/

/* FORSIDE */

/* Styling - Baggrundsbillede, på forsiden */
.forside-img {
    width: 100%; /* Sikrer at billedet bredde følger browserens*/
    display: block; 
    z-index: 0; /* Sikrer at billedet placeres bag dropdown */
    position: relative; /* Sørger for, at z-index anvendes korrekt */
}

/* Placering - billede top, forside */
#forside-top {
    position: relative; /* Realativ placering */
    display: inline-block;
    text-align: right; /* Højrestiller teksten */
    width: 100%; /* Indholdet fylder hele bredden*/
    height: auto; /* Tilpasser højden automatisk*/
}

/* Styling - knappen "NYHEDER" */
.nyheder-knap {
    background-color:var(--grøn); /* Farve på knap */
    color: var(--hvid); /* Tekstfarve */
    bottom: 230px; /* Angiver afstanden fra bunden */
    border-radius: 15px; /* Rundede hjørner */ 
    right: 90px; /* Angiver afstanden fra højre */
    font-size: 38px; /* Skriftstørrelse */
    font-weight: 700; /* Skrifttykkelse*/
    padding: 10px 20px; /* Indvendig margen */
    text-decoration: none; /* Fjern understregning */
    position: absolute; /* Absolut positionering */
    box-shadow: 0 4px 8px var(--moerk-skrift); /* Tilføjer skyggeeffekt */
    transition: transform 0.3s, box-shadow 0.3s; /* Glat overgangseffekt */
}

/* Effekter - Hover "NYHEDER" knap */
.nyheder-knap:hover {
    transform: scale(1.3); /* Forstørrer ved hover */
    font-weight: bold; /* Tykkelse på font ved hover */
    box-shadow: 0 8px 16px var(--moerk-skrift); /* Forstærker skyggeeffekten ved hover */
}

/* Styling - tekst under "NYHEDER"*/
#tekst-under-knap {
    display: block; /* Fastsætter placeringen */
    bottom: 100px; /* Placering fra bunden af img */
    right: 50px; /* Placering fra højre kant*/
    max-width: 320px; /* Bredden på tekststykket */
    font-size: 17px; /* Skriftstørrelse */
    font-weight: 400;
    text-align: center; /* Højrestiller teksten */
    position: absolute; /* Absolut positionering */

}





/*------------------------------------------*/

/* FOOTER - STYLING */

