/*
 * file: css/css.css
 * purpose: styling: 

 * Krav for opgaven:
    - "External CSS: Struktur og præsentation skal være adskilt"
    - "Performance: Produktet skal være optimeret i relation til Page Load Time"
    - "SEO: Optimer din kode til søgemaskiner"
    - "Semantisk HTML; semantiske tags"
    - Billeder skal optimeres og være webp
    - Alt kode skal valideres
*/

/*--------------- GENERELT ----------------*/

/* BASIS - fjerner eksisterende basis */
*,
*::before,
*::after {
    margin: 0; /*fjerner alt margin, som basis*/
    padding: 0; /*fjerner alt padding, som basis*/
    color: var(--moerk-skrift); /* angiver basis tekst-farve*/
    font-family: "Montserrat", sans-serif; /* font som basis*/
    font-size: 17px; /* angiver skriftstørrelsen for basis teksst*/
    line-height: 1.5; /* angiver linjeafstand for alt tekst*/
    background-color: var(--baggrundsfarve); /*angiver basis baggrundsfarve*/
}


/* GENERELT - ALT HTML */

/* Farvepalette */
:root {
    --hvid: #FFFFFF;
    --moerk-skrift: #2D1B14;
    --brun: #947856;
    --grøn: #9BB93A;
    --beige: #F4E9CE;
    --baggrundsfarve: #F6F9F8;
}

/* Styling - a-tags/links */
a {
    text-decoration: none; /* fjerner streger under links */
    color: var(--moerk-skrift); /* fjerner den blå farve i links */
}

/* Styling - overskrifter */
h1 { 
    font-family: "Quattrocento", serif;
    font-size: 44px;
    font-weight: 800; /* tykkelse af font */
    padding-bottom: 15px; /* angiver afstand til nedenforstående*/
}

/* Styling - under-overskrifter */
h2 {
    font-size: 22px; 
    font-weight: 700; /* tykkelse af font */
    padding-bottom: 25px; /* angiver afstand til nedenforstående*/
    color: #947856;
}

/* Styling - små noter */
h4 {
    font-size: 12px;
    font-weight: 400;
}

/* Styling - alm. tekst */
p {
    padding-bottom: 10px; /* angiver afstand til nedenforstående*/
}

/* Styling - Logo */
.logo {
    max-height: 57px; /* størrelse på logo*/
}


/*------------ NAVIGATION ------------------*/


/* NAVIGATIONSBAR - STYLING OG FUNKTIONALITET */

/* Placering - logo, aktiveres v. burgermenu*/
.logo-top-venstre {
    display: none; /* Skjuler logo*/
}

/* Styling - navigations linjen */
.nav {
    z-index: 999; /* Høj værdi, sikrer at menuen vises over andre elementer */ 
    position: relative; /* Angiver korrekt placering af dropdown*/
}

/* Styling - navigationsbaren - ul */
.nav-styling {
    justify-content: center; /* Centerer ul-elementer */
    align-items: center; /* Vertikalt centerering */
    list-style: none;
}

/* Styling - navigationsbaren - li */
.nav-styling li {
    margin: 20px 30px; /* Afstand mellem li-elementer */
    position: relative; /* Angiver korrekt placering af dropdown*/
    transition: transform 0.3s, font-weight 0.3s; /* Overgangseffekt - gør teksten federe, i bevægelse */
}

/* Effekter - navigationsbaren */
.nav-styling li:hover {
    transform: scale(1.04); /* Forstørrer ved hover */
    font-weight: bold; /* Tykkelse på font ved hover */
}

/* Effekter - Skjul dropdown-menuen som standard */
.dropdown {
    display: none; /* Skjuler */
    position: absolute;
    top: 100%; /* Positioner lige under forældreelementet */
    list-style: none; /* Fjerner prikker fra liste*/
    padding: 0; /* Ingen padding*/
    z-index: 1000; /*Høj værdi, for at sikre at dropdown overgår andre elementer*/
}

/* Effekter - Vis dropdown-menuen ved hover */
.nav-styling li:hover .dropdown {
    display: block; /* Viser elementer*/
    font-weight: 200; /* Tykkelse på font ved hover */
}

/* Styling - dropdown li */
.dropdown li {
    border-style: solid; /* Angiver streg under elementer */
    border-width: 0 0 0.10rem 0; /* Tykkelse på stregen */
    border-color: var(--brun); /* Farve på stregen */
    list-style: none; /* Fjerner opstillingspunkter */
    margin: 0; /* fjerner den margin, som er angivet for navigationsbaren */
    padding-top: 15px; /* Afstand til ovenforstående element*/
    padding-bottom: 2px;
}


/*---------- NAVIGATION - BURGERMENU --------------*/

/* Funktion - Fjerner checkboks*/
.nav-checkbox {
    display: none; /* Usynliggøre checkboksen*/
}

/* Placering - Burger-ikon */
.nav-burger {
    position: absolute; /*Sikrer placering */
    cursor: pointer; /*Ændrer musen, når der holdes på ikonet*/
    margin: 20px 30px; /*Placering af ikon*/
    right: 0; /* Højrestiller ikonet */
    z-index: 1000; /* Placerer ikonet over alt andet */
}

/* Effekter - Burger-ikon */
.nav-burger:hover {
    transform: scale(1.1); /* Forstørrer ved hover */
}

/* Funktion - Burger-ikon */
#nav-checkbox:checked ~ ul.nav-styling li {
    display: block; /*Ved klik på ikon, kaldes der på menuen */
}


/*-------------- FORSIDEN -------------------*/

/* FORSIDE - TOP */

/* skjul - bruges i responsiv format*/
.forside-responsiv {
    display: none; /*skjul som standard, desktop*/
}

/* Styling - Baggrundsbillede, på forsiden */
.forside-img {
    width: 100%; /* Sikrer at billedet bredde følger browserens*/
    display: block; 
    z-index: 0; /* Sikrer at billedet placeres bag dropdown */
    position: relative; /* Sørger for, at z-index anvendes korrekt */
}

/* Placering - billede top, forside */
#forside-top {
    position: relative; /* Realativ placering */
    display: inline-block;
    text-align: right; /* Højrestiller teksten */
    width: 100%; /* Indholdet fylder hele bredden*/
    height: auto; /* Tilpasser højden automatisk*/
}

/* Styling - knappen "NYHEDER" */
.nyheder-knap {
    background-color:var(--grøn); /* Farve på knap */
    color: var(--hvid); /* Tekstfarve */
    bottom: 210px; /* Angiver afstanden fra bunden */
    border-radius: 15px; /* Rundede hjørner */ 
    right: 100px; /* Angiver afstanden fra højre */
    font-size: 35px; /* Skriftstørrelse */
    font-weight: 700; /* Skrifttykkelse*/
    padding: 10px 20px; /* Indvendig margen */
    position: absolute; /* Absolut positionering */
    box-shadow: 0 4px 8px var(--moerk-skrift); /* Tilføjer skyggeeffekt */
    transition: transform 0.3s, box-shadow 0.3s; /* Glat overgangseffekt */
}

/* Effekter - Hover "NYHEDER" knap */
.nyheder-knap:hover {
    transform: scale(1.05); /* Forstørrer ved hover */
    font-weight: bold; /* Tykkelse på font ved hover */
    box-shadow: 0 8px 16px var(--moerk-skrift); /* Forstærker skyggeeffekten ved hover */
}

/* Styling - tekst under "NYHEDER"*/
#tekst-under-knap {
    display: block; /* Fastsætter placeringen */
    bottom: 90px; /* Placering fra bunden af img */
    right: 50px; /* Placering fra højre kant*/
    max-width: 350px; /* Bredden på tekststykket */
    font-weight: 400;
    text-align: center; /* Højrestiller teksten */
    position: absolute; /* Absolut positionering */
    background-color: rgba(148, 120, 86, 0); /* Gennemsigtig baggrundsfarve */
    font-size: 18px;
}


/*---- FORSIDE - MIDT ----*/

/* Styling - tekstsektion, øverst i midt-sektion*/
.forside-midt {
    text-align: center; /* Centrerer teksten */
    display: flex; 
    flex-direction: column; /* sætter i lodret række*/
    align-items: center; /* Centrerer elementer*/
}

/* Styling - h1 */
.forside-midt h1 {
    padding-top: 70px; /* Afstand til ovneforstående elementer*/
    font-size: 50px;
}

/* Styling - p og h2 */
.tekst-midt {
    padding-bottom: 40px; /* Afstand til knap */
    max-width: 500px; /* Bredden på tekststykke */
    text-align: center; /* Centrerer teksten */
    line-height: 1.8; /*Linjeafstand*/
}

/* Placering - h1, h2 og p */
.forside-midt-tekst {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerer teksten og knappen */
    margin-top: 10px; /* Afstand til ovenstående h1 */
}

/* Styling - knappen "BRYGGERIET.." */
.bryggeriets-historie-knap {
    background-color:var(--brun); /* Farve på knap */
    color: var(--hvid); /* Tekstfarve */
    font-size: 28px; /* Skriftstørrelse */
    font-weight: 500; /* Skrifttykkelse*/
    border-radius: 15px; /* Rundede hjørner */ 
    padding: 10px 20px; /* Indvendig margen */
    box-shadow: 0 4px 8px var(--moerk-skrift); /* Tilføjer skyggeeffekt */
    transition: transform 0.3s, box-shadow 0.3s; /* Glat overgangseffekt */
}

/* Effekter - Hover "BRYGGERIET.." knap */
.bryggeriets-historie-knap:hover {
    transform: scale(1.05); /* Forstørrer ved hover */
    font-weight: bold; /* Tykkelse på font ved hover */
    box-shadow: 0 8px 16px var(--moerk-skrift); /* Forstærker skyggeeffekten ved hover */
}


/* BILLEDGALLERI */
  
/* Styling - billedgalleri */
section.billedgalleri img {
    max-width: 250px; /* Angiver billedernes størrelse*/
    height: auto; /* Justerer automatisk højden */
    border-radius: 5px; /* Afrundede kanter på img */
  }

.billedgalleri:hover {
    transform: scale(1.3); /*Gør billedet større, når markøren holdes over*/
}

/* Placering - billedgalleri */
#billedgalleri-forside {
    margin-top: 90px; /* Afstand til ovenforstående */
    margin-bottom: 60px; /* Afstand til nedenforstående */
    display: flex;
    justify-content: center; /* Centrerer billedgalleriet */
    flex-wrap: wrap; /* Tillader fleksibel layout */
    gap: 25px; /* Afstand mellem billederne */
}

/*---- FORSIDE - BUND ----*/

/* Placering */
.forside-bund {
    position: relative; /* Tillader absolut positionering af elementer */
}

/* Placering - tekst og knap */
.tekst-bund-forside {
    position: absolute;
    bottom: 100px; /* Afstand fra bunden af billedet */
    left: 50px; /* Afstand fra venstre */
    text-align: left; /* Venstrejusterer teksten */
    background-color: rgba(148, 120, 86, 0); /* Gennemsigtig baggrundsfarve */
    margin-bottom: 10px; /* Afstand mellem tekst og knap */
    max-width: 370px; /* Bredden på tekststykket*/
}

/* Styling - "LØBEKLUB" */
.lobeklub-knap {
    background-color: var(--grøn); /* Farve på knap */
    color: var(--hvid); /* Tekstfarve */
    font-size: 28px; /* Skriftstørrelse */
    font-weight: 500; /* Skrifttykkelse*/
    border-radius: 15px; /* Rundede hjørner */ 
    padding: 10px 20px; /* Indvendig margen */
    box-shadow: 0 4px 8px var(--moerk-skrift); /* Skyggeeffekt */
    transition: transform 0.3s, box-shadow 0.3s; /* Glat overgangseffekt */
    display: inline-block; /* Knappen placeres korrekt */
}

/* Effekter - Hover "LØBEKLUB" knap */
.lobeklub-knap:hover {
    transform: scale(1.05); /* Forstørrer ved hover */
    font-weight: bold; /* Tykkelse på font ved hover */
    box-shadow: 0 8px 16px var(--moerk-skrift); /* Forstærker skyggeeffekten ved hover */
}

/* Placering - afstanden mellem tekst og knap */
.tekst-bund-forside p {
    margin-bottom: 30px; /* Afstand fra knap til tekst */
    font-size: 22px; /* Skriftstørrelse - samme str. som midt på forsiden*/
    line-height: 1.8; /* lidt større linjeafstand, da teskten står tæt*/
}

/* Styling - h1 */
.tekst-bund-forside h1 {
    margin-bottom: 20px; /* Afstand til nedenforstående */
}

/*Styling - tekststykke */
.tekst-over-knap {
    background-color:rgba(148, 120, 86, 0); /* Gennemsigtig baggrundsfarve */
}

/*----------- BRYGGERIET - HTML -------------*/

/* Placering - forside billede */
.bryggeriet-forside {
    width: 100%; /* Sikrer at billedet bredde følger browserens*/
    display: block; 
    z-index: 0; /* Sikrer at billedet placeres bag dropdown */
    position: relative; /* Sørger for, at z-index anvendes korrekt */
}

/* Styling - forside tekststykke*/
.b-forside-tekst {
    text-align: center; /* Centrerer teksten */
    position: absolute ;
    background-color:rgba(148, 120, 86, 0); /* Gennemsigtig baggrundsfarve */
    color: var(--baggrundsfarve); /*Skriftfarve*/
    max-width: 850px; /* Bredden på teskt "feltet"*/
    font-size: 60px; /*Skriftstørrelse*/
    font-weight: 800; /*Font-tykkelse*/

    /*Har brugt chat-gpt til at hjælpe, med at placere teksten ovenpå billedet her, da andre måder ikke virkede optimalt*/
    top: 53.5%; /* Placering af teksten fra toppen - så det flugter med glasset*/
    left: 50%; /* Centrerer teksten - også responsivt */
    transform: translate(-50%, -50%); /* Centrerer teksten nøjagtigt midt på billedet - også responsivt*/
}

/* Styling - svg, pil ned*/
.pil-ned-bryggeri {
    bottom: 30px; /*Afstand fra bund*/
    position: absolute; /* Absolut, for at fastholde centreret placering*/
    background-color:rgba(148, 120, 86, 0); /* Gennemsigtig baggrundsfarve */
    display: flex; /* Sørger for at centreret placering er muligt*/
    justify-content: center; /*Centrerer pilen*/
    width: 100%; /*centrerer ud fra hele bredden af siden*/
}

/* Placering - alle elementer i denne sektion */
.midt-tekst-bryggeriet {
    display: flex;
}
    .skjul-daaser {
        display: none; /*Skjules som standard - vises i responsivt*/
    }

    .billed-artikel-bryggeri {
        flex: 1; /* Placerer billederne ved siden af tekst*/
        padding: 100px 50px 0px 100px; /* Luft omkring billederne*/
    }

    .billed-artikel-bryggeri img {
        padding-bottom: 30px; /*Luft mellem billederne*/
    }

    .artikel-bryggeri {
        padding: 100px 100px 0px 50px; /*Luft omkring tekst*/
    }

    .artikel-bryggeri p {
        line-height: 1.7; /*Linjeafstand*/
        padding-bottom: 15px; /* Afstand mellem afsnit*/
    }

    .artikel-bryggeri h2 {
        padding-bottom: 20px; /* Afstand mellem afsnit*/
    }

    .h2-luft{
        padding-top: 20px;
    }

/* Styling - knappen "SE UDVALGET" */
.sortiment-knap {
    background-color:var(--brun); /* Farve på knap */
    color: var(--hvid); /* Tekstfarve */
    font-size: 25px; /* Skriftstørrelse */
    font-weight: 500; /* Skrifttykkelse*/
    border-radius: 15px; /* Rundede hjørner */ 
    padding: 10px 20px; /* Indvendig margen */
    box-shadow: 0 4px 8px var(--moerk-skrift); /* Tilføjer skyggeeffekt */
    transition: transform 0.3s, box-shadow 0.3s; /* Glat overgangseffekt */
    position: absolute; /* Absolut positionering */
    right: 150px; /* Angiver afstanden fra højre */
    margin-bottom: 10px;
}

/* Effekter - Hover "SE UDVALGET" knap */
.sortiment-knap:hover {
    transform: scale(1.05); /* Forstørrer ved hover */
    font-weight: bold; /* Tykkelse på font ved hover */
    box-shadow: 0 8px 16px var(--moerk-skrift); /* Forstærker skyggeeffekten ved hover */
}



/*--------- PRODUKTER - HTML -------------*/

/* Styling - tekstsektion */
.produkt-overskrift {
    text-align: center; /* Centrerer teksten */
    display: flex; 
    flex-direction: column; /* sætter i lodret række*/
    align-items: center; /* Centrerer elementer*/
}

/* Styling - h1, øverst */
.produkt-overskrift h1 {
    padding-top: 25px; /* Afstand til ovneforstående elementer*/
}

/* Styling - billedgalleri */
section.billedgalleri-p img {
    max-width: 250px; /* Angiver billedernes størrelse*/
    height: auto; /* Justerer automatisk højden */
    border-radius: 5px; /* Afrundede kanter på img */
    border: solid 0.8px var(--brun);
  }

.billedgalleri-p img:hover {
    transform: scale(1.1); /*Gør billedet større, når markøren holdes over*/
}

section.billedgalleri-p p {
    padding-bottom: 2px; /* angiver afstand til nedenforstående*/
    font-weight: 600; /*Fed skrifttype*/
}

/* Placering - billedgalleri */
.billedgalleri-produkter {
    margin-top: 10px; /* Afstand til ovenforstående */
    margin: 10px 100px 20px 100px; /* Afstand til nedenforstående */
    display: flex;
    justify-content: center; /* Centrerer billedgalleriet */
    flex-wrap: wrap; /* Tillader fleksibel layout */
    gap: 30px; /* Afstand mellem billederne */
}

/* Styling - knappen "SE UDVALGET" */
.viderestiller-knap {
    background-color:var(--grøn); /* Farve på knap */
    color: var(--hvid); /* Tekstfarve */
    font-size: 25px; /* Skriftstørrelse */
    font-weight: 500; /* Skrifttykkelse*/
    border-radius: 15px; /* Rundede hjørner */ 
    padding: 10px 20px; /* Indvendig margen */
    box-shadow: 0 4px 8px var(--moerk-skrift); /* Tilføjer skyggeeffekt */
    transition: transform 0.3s, box-shadow 0.3s; /* Glat overgangseffekt */
    position: absolute; /* Absolut positionering */
    margin-top: 80px;
    right: 130px; /* Angiver afstanden fra højre */
}

/* Effekter - Hover "SE UDVALGET" knap */
.viderestiller-knap:hover {
    transform: scale(1.05); /* Forstørrer ved hover */
    font-weight: bold; /* Tykkelse på font ved hover */
    box-shadow: 0 8px 16px var(--moerk-skrift); /* Forstærker skyggeeffekten ved hover */
}

/* Styling - tilbage funktion/svg */
.tilbage-svg {
    margin-left: 40px;
}


/*------------ EVENTS - HTML --------------*/

/* Styling - billedgalleri */
section.billedgalleri-e img {
    max-width: 400px; /* Angiver billedernes størrelse*/
    height: auto; /* Justerer automatisk højden */
    border-radius: 5px; /* Afrundede kanter på img */
    border: solid 0.8px var(--brun);
  }

.billedgalleri-e img:hover {
    transform: scale(1.1); /*Gør billedet større, når markøren holdes over*/
}

section.billedgalleri-e h2 {
    padding-bottom: 3px; /* angiver afstand til nedenforstående*/
    padding-top: 5px;
}

/*--- EVENTS - ØLSAMGNING & LØBEKLUB ---*/

/* Placering - billedgalleri */
.events-side {
    margin-bottom: 60px; /* Afstand til nedenforstående */
    display: flex; /*Sørger for placering*/
    justify-content: center; /* Centrerer billedet*/
}

/* Styling - billedgalleri */
section.event-billede img {
    max-width: 1000px; /* Angiver billedernes størrelse*/
    height: auto; /* Justerer automatisk højden */
    border-radius: 5px; /* Afrundede kanter på img */
}

/* Placering - h1 */
.artikel-events h1 {
    text-align: center; /*Centrering af tekst*/
    padding-bottom: 40px;
}

/* Placering - p  */
.artikel-events p {
    padding: 0 220px 20px 220px; /* Luft omkring tekst*/
}

/* Placering - h2 */
.artikel-events h2 {
    padding: 10px 220px 60px 220px; /* Luft omkring tekst*/
}

/*-------------- KONTAKT -------------------*/

/* Styling - Kontaktformular */
.formular-kontakt {
    display: flex; /*Sikrer placering*/ 
    flex-direction: column; /*Placering i lodret række under hinanden*/
    padding: 10px 220px 10px 220px; /* Luft omkring tekst*/;
}

/* Styling - tekst i formular*/
.formular-kontakt label {
    margin-bottom: 5px;
    font-weight: 500; /*Skrifttykkelse*/
    text-align: left; /*Venstrestiller tekst*/
}

/* Styling - felter i formular*/
.formular-kontakt input,
.formular-kontakt select,
.formular-kontakt textarea {
    margin-bottom: 20px; /* Afstand til nedenforstående element*/
    padding: 10px; /* luft omkring skrift, i boks*/
    border: 1px solid var(--brun);
    border-radius: 15px; /*Samme runding som knapper*/
}


/*-------------- FOOTER --------------------*/

/* Placering - generelt for footer */
.footer {
    display: flex; /*Placering af elementer*/
    flex-direction: column; /*Opstilling */
    align-items: center; /*Centrret logo*/
    text-align: center; /*Centreret tekst*/
    padding-top: 30px; /*Afstand til streg, ned mod footer*/
    margin-top: 70px; /*Afstand til ovenforstående elementer*/
    border-top: 2px solid var(--brun); /*Streg - tykkelses og farve*/
}

/* Placering - tekst i footer */
.footer-info {
  margin-top: 15px; /* Afstand til logo*/
  margin-bottom: 10px; /* Afstand til bund*/
}

    /* Styling - tekst i footer */
    .footer-info p {
        font-size: 12px; /* Skriftstørrelse i footer*/
    }

    /* Styling - tekst/links i footer */
    .footer-info a {
        font-size: 12px; /* Skriftstørrelse i footer - også link */
    }


/* Styling - Instagram & Facebook ikon */
.sociale-medier {
    fill: #947856; /*Farve på ikonet*/
}

/* Placering - Ikoner */
.footer-ikoner {
    display: flex;
    position: absolute; /*Absolut placering*/
    right: 80px; /* Afstand fra kant, til ikoner*/
    gap: 10px; /* Mellemrum mellem ikoner */
}

/* Effekter - Ikoner */
.footer-ikoner:hover {
    transform: scale(1.2); /* Forstørrer ved hover */
}




/*------------- RESPONSIVT ---------------*/

/* Desktops and large screens*/
@media only screen and (min-width: 1025px) {

    /* STYLING AF NAVIGATION */
    .nav-burger {
        display: none; /* skjuler ikon i desktop view */
    }
 
    .nav-styling {
        flex-direction: row; /* ændrer opstilling/retning på listede elementer i nav */
        display: flex;
    }
 
    .nav-styling li {
        display: block; /* Viser alle li-elementer */
    }

}





/* Tablets og mindre laptops */
@media only screen and (max-width: 1024px)  {

/* ------- STYLING AF NAVIGATION ------ */

    .nav-styling {
        display: none; /* Skjul nav som standard */
        flex-direction: column; /* Elementer på række - mobil view */

    }

    #nav-checkbox:checked ~ .nav-styling {
        display: flex; /* Vis nav når checkboxen er checket */
    }

    .nav-styling li {
        display: block; /* Vis alle li-elementer ved klik på ikon */
        border-bottom: solid 1px var(--brun);
    }

    .nav-burger {
        display: block; /* Viser ikonet */
    }

    #nav-checkbox:checked ~ .nav-styling li .logo {
        display: none; /* Skjuler logoet, i nav, når burgermenuen er aktiveret */
    }

    #nav-checkbox:checked ~ .nav-styling li:nth-child(2) {
        margin-bottom: 0; /* Sikrer retmæssig placering af li-element 'fællesskab' når logoet er skjult */
    }

    #nav-checkbox:checked ~ .nav-styling li:nth-child(3) {
        margin-top: 0; /* -//- og 'produkter' */
    }

    #nav-checkbox:checked ~ .nav-styling li ul.dropdown {
        position: relative; /* Placeringen af dropdown-menuen */
        left: 0; /* Venstrestiller */
        top: auto; /* Justerer automatisk */
        width: 100%; /* Øger afstanden, så der er plads til dropdown-elementer */
        margin-top: 5px; /* Afstand mellem "EVENTS" og dropdown-menuen */
    }

    .logo-top-venstre {
        display: block; /*Viser logo i venstre hjørne, når burgermenu er aktiveret*/
        padding: 20px; /*Luft omkring logo*/
    }

/* --------- STYLING AF FORSIDE ---------*/

    /*Ændring i størrelser på knap*/
    .nyheder-knap {
        bottom: 120px; /* Angiver afstanden fra bunden */
        border-radius: 15px; /* Rundede hjørner */ 
        right: 90px; /* Angiver afstanden fra højre */
        font-size: 25px; /* Skriftstørrelse */
        font-weight: 500; /* Skrifttykkelse*/
    }

    /*Ændring i størrelser på tekst under knap*/
    #tekst-under-knap {
        bottom: 40px; /* Placering fra bunden af img */
        right: 20px; /* Placering fra højre kant*/
        max-width: 320px; /* Bredden på tekststykket */
        font-weight: 400;
        font-size: 16px;
    }
    /*Ændring i breddem på tekststykke, nederst på siden*/
    .tekst-over-knap {
        width: 230px;
        font-size: 35px;
    }
    /* Ændring i afstand til bund, nederst på siden */
    .tekst-bund-forside {
        bottom: 10px;
    }
    /* Ændring i størrelse på knapper */
    .lobeklub-knap, .bryggeriets-historie-knap {
        font-size: 20px;
    }

/*---- BRYGGERIET - HTML ----*/

    /*Ændring i skriftstørrelse*/
    .b-forside-tekst {
        max-width: 600px; /* Bredden på teskt "feltet"*/
        font-size: 40px; /*Skriftstørrelse*/
        font-weight: 600; /*Font-tykkelse*/
        top: 45%; /* Placering af teksten fra toppen*/
    }

    /*Andring i størrelser på artiklerne */
    .billed-artikel-bryggeri img {
        max-width: 350px; /*Ændrer størrelse på billede*/
    }

        .billed-artikel-bryggeri {
            padding-left: 10px; /*Ændrer luft omkring billede*/
        }
        .artikel-bryggeri p {
            font-size: 12px;
            padding-bottom: 10px; /* Afstand mellem afsnit*/
        }

        .artikel-bryggeri {
            padding: 100px 40px 0px 0px; /*Luft omkring tekst*/
            }

        /* Styling - knappen "SE UDVALGET" */
        .sortiment-knap {
        background-color:var(--brun); /* Farve på knap */
        color: var(--hvid); /* Tekstfarve */
        font-size: 15px; /* Skriftstørrelse */
        font-weight: 400; /* Skrifttykkelse*/
        right: 80px; /* Angiver afstanden fra højre */ }


    /* Styling - svg, pil ned*/
    .pil-ned-bryggeri {
        display: none; /* Fjerner pilen, når skærmen bliver mindre, her ses artiklen - så giver den ikke menning*/}


/* ---- PRODUKTER - HTML -----*/
    .viderestiller-knap  {
        font-size: 15px; /* Skriftstørrelse */
        font-weight: 400; /* Skrifttykkelse*/
        right: 80px; /* Angiver afstanden fra højre */
        margin-top: 30px;
        }


/* ---- EVENTS - HTML ---- */

    /* Placering - p  */
     .artikel-events p {
         padding: 0 100px 20px 100px;
        }

    /* Placering - h2 */
    .artikel-events h2 {
        padding: 10px 100px 20px 100px;
         }

    /* Styling - billedgalleri */
    section.event-billede img {
        max-width: 750px; /* Angiver billedernes størrelse*/
        height: auto; /* Justerer automatisk højden */
        border-radius: 5px; /* Afrundede kanter på img */
        }


/* ---- KONTAKT - HTML ---- */

     /* Styling - Kontaktformular */
    .formular-kontakt {
        display: flex; /*Sikrer placering*/ 
        flex-direction: column; /*Placering i lodret række under hinanden*/
        padding: 10px 100px 10px 100px; /* Luft omkring tekst*/;
        }


/*-------- FOOTER ------- */

    /* Ændiring i afstand til footer*/
    .footer {
        margin-top: 100px;
     }

}





/* Tablets i portræt */
@media only screen and (min-width: 768px) and (max-width: 900px) {
    
/* --------- STYLING AF FORSIDE ---------*/

    /*Ændring i størrelser på knap*/
    .nyheder-knap {
        bottom: 90px; /* Angiver afstanden fra bunden */
        right: 60px; /* Angiver afstanden fra højre */
        font-size: 20px; /* Skriftstørrelse */
        font-weight: 500; /* Skrifttykkelse*/
    }

    /*Ændring i størrelser på tekst under knap*/
    #tekst-under-knap {
        bottom: 20px; /* Placering fra bunden af img */
        right: 10px; /* Placering fra højre kant*/
        max-width: 320px; /* Bredden på tekststykket */
        font-size: 14px; /*Skriftstørrelse*/
    }
    /*Ændring i breddem på tekststykke, nederst på siden*/
    .tekst-over-knap {
        font-size: 32px;
    }
    
/*---- BRYGGERIET - HTML ----*/

    /*Ændring i skriftstørrelse*/
    .b-forside-tekst {
        max-width: 600px; /* Bredden på teskt "feltet"*/
        font-size: 35px; /*Skriftstørrelse*/
        font-weight: 600; /*Font-tykkelse*/
        top: 42%; /* Placering af teksten fra toppen - så det flugter med glasset*/
    }

    /*Andring i størrelser på artiklerne */
    .billed-artikel-bryggeri img {
        max-width: 300px; /*Ændrer størrelse på billede*/
        margin-left: 15px; /*Afstand til venstre side*/
        padding-bottom: 80px;
        padding-top: 0px;
    }

    .billed-artikel-bryggeri {
        padding-top: 50px; /*Ændrer luft omkring billede*/
    }
        .artikel-bryggeri p {
            font-size: 12px;
            padding-bottom: 8px; /* Afstand mellem afsnit*/
        }

        .artikel-bryggeri h2 {
            font-size: 17px; /*Skriftstørrelse*/
            padding-bottom: 5px; /*Afstand til neden*/
        }

        .artikel-bryggeri {
            padding: 50px 40px 0px 0px; /*Luft omkring tekst*/
            }

/* ---- PRODUKTER - HTML -----*/

    .produkt-overskrift h1 {
        font-size: 40px;
    }

    .viderestiller-knap  {
        font-size: 15px; /* Skriftstørrelse */
        font-weight: 400; /* Skrifttykkelse*/
        right: 80px; /* Angiver afstanden fra højre */
        margin-top: 20px;
        }

    .artikel-bryggeri h1 {
        font-size: 30px; /*Skriftstørrelse*/
    }

/* ---- EVENTS - HTML ---- */

    /* Placering - p  */
     .artikel-events p {
         padding: 0 80px 20px 95px; /*luft omkring*/
         font-size: 15px; /*Skriftstørrelse*/
        }

    /* Placering - h2 */
    .artikel-events h1 {
        font-size: 40px; /*Størrelse på overskrift*/
         }
}





/* Mobiltelefoner landskab */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    
/* --------- STYLING AF FORSIDE ---------*/

    /* Styling - Baggrundsbillede, på forsiden */
    
    /*Ændring i størrelser på knap*/
    .nyheder-knap {
        bottom: 60px; /* Angiver afstanden fra bunden */
        border-radius: 15px; /* Rundede hjørner */ 
        right: 40px; /* Angiver afstanden fra højre */
        font-size: 22px; /* Skriftstørrelse */
        font-weight: 600; /* Skrifttykkelse*/
    }

    /*Ændring i størrelser på tekst under knap*/
    #tekst-under-knap {
        display: none; /*Fjerner teksten i denne visning*/
    }
    /*Ændring i breddem på tekststykke, nederst på siden*/
    .tekst-over-knap {
        width: 230px;
        font-size: 30px;
    }
    /*Ænddring i overskrift*/
    .forside-midt h1 {
        font-size: 40px; /*Skriftstørrelse mindre*/
        font-weight: 800;
    }

    /*Billedgalleri mindre*/
    .mindre-i-res{
        width: 200px; /*mindre størrelse på billederne*/
    }

    /* Ændring i afstand til bund, nederst på siden */
    .tekst-bund-forside {
        display: none;
    }



/*---- BRYGGERIET - HTML ----*/
   
    /*Ændring i skriftstørrelse*/
    .b-forside-tekst {
        display: none; /*Fjerner i denne format*/
    }

    /*ARTIKLERNE OG BILLEDERNE ÆNDRER PLACERING HER */

    .fjern-i-responsiv {
        display: none; /*skjuler billede i denne responsive skærmstørrelses*/
        }

    .skjul-daaser {
        display: block; /*viser andet billede i denne responsive skærmstørrelses*/
    }

    .midt-tekst-bryggeriet {
        display: flex;
        flex-direction: column; /* Ændrer flex retning til kolonne for mindre skærme */
        align-items: center; /* Centrerer indholdet */
    }

    .billed-artikel-bryggeri {
        flex: none;
        padding: 20px 0; /* Mindre padding for mindre skærme */
    }

    .billed-artikel-bryggeri img {
        width: 460px; /* Sætter billedbredden */
        padding-bottom: 0px; /* Justerer luft mellem billederne */
    }

    .artikel-bryggeri {
        padding: 20px; /* Mindre padding for tekst */
        text-align: center; /* Centrerer teksten */
    }

    .artikel-bryggeri h2 {
        padding-bottom: 15px; /* Mindre afstand mellem overskrifter */
    }

    .h2-luft {
        padding-top: 20px; /* Justering af top padding for overskrifter */
    }

    .sortiment-knap {
        position: relative; /* Gør knappen relative for at holde den inde i konteksten */
        right: 0;
        top: 20px; /*Afstand til tekst ovenfor*/
    }


/* ---- PRODUKTER - HTML -----*/
    .viderestiller-knap  {
        font-size: 15px; /* Skriftstørrelse */
        font-weight: 400; /* Skrifttykkelse*/
        right: 80px; /* Angiver afstanden fra højre */
        margin-top: 30px;
        }


/* ---- EVENTS - HTML ---- */

    /* Placering - p  */
    .artikel-events p {
         padding: 0 50px 20px 50px; /*Luft omkring tekststykke*/
         font-size: 12px; /*Skriftstørrelse*/
        }

    /*Overskrift i artiklen*/
    .artikel-events h1 {
        font-size: 30px; /*Skriftstørrelse*/
    }

    /*Størrelse på billeder*/
    .event-billede img {
        width: 500px; /* Bredde på billede*/
    }
    /* Placering - h2 */
    .artikel-events h2 {
        padding: 10px 50px 20px 50px; /*Luft omkring tekststykke*/
        font-size: 17px ; /*Skriftstørrelse*/
        }

    /* Styling - billedgalleri */
    section.event-billede img {
        max-width: 600px; /* Angiver billedernes størrelse*/
        }
 
    /*Størrelse på overskrift*/
    .produkt-overskrift h1 {
        font-size: 30px; /*Skriftstørrelse*/
    }

    /*Størrelse på billede*/
    .billedgalleri-e img {
        width: 350px; /* Angiver billedernes størrelse*/
    }

/* ---- KONTAKT - HTML ---- */

    /* Styling - Kontaktformular */
    .formular-kontakt {
        display: flex; /*Sikrer placering*/ 
        flex-direction: column; /*Placering i lodret række under hinanden*/
        padding: 30px; /* Luft omkring tekst*/;
        font-size: 15px;
        }

    /* Styling - felter i formular*/
    .formular-kontakt input,
    .formular-kontakt select,
    .formular-kontakt textarea {
        margin-bottom: 20px; /* Afstand til nedenforstående element*/
        padding: 10px; /* luft omkring skrift, i boks*/
        border: 1px solid var(--brun);
        border-radius: 15px; /*Samme runding som knapper*/
        max-width: 450px;
        font-size: 12px;
        }
    
    .events-side p {
        font-size: 15px;
        padding: 0 30px 15px 30px; /* Luft omkring tekst*/
        }

}



/* Mobiltelefoner - portræt */
@media only screen and (max-width: 480px) {

     /* Styling - Baggrundsbillede, på forsiden */
     .forside-responsiv {
        width: 100%; /* Sikrer at billedet bredde følger browserens*/
        display: block; /*viser dette billede, skjuler det andet*/
        z-index: 0; /* Sikrer at billedet placeres bag dropdown */
        position: relative; /* Sørger for, at z-index anvendes korrekt */
        }

    .forside-img {
        display: none; /*skjuler dette billede*/
    }
  
    /*Ændring i størrelser på knap*/
    .nyheder-knap {
        bottom: 70px; /* Angiver afstanden fra bunden */
        border-radius: 15px; /* Rundede hjørner */ 
        right: 40px; /* Angiver afstanden fra højre */
        font-size: 24px; /* Skriftstørrelse */
        font-weight: 600; /* Skrifttykkelse*/
    }

    /*Ændring i størrelser på tekst under knap*/
    #tekst-under-knap {
        display: none; /*Fjerner teksten i denne visning*/
    }
   
    /*Ænddring i overskrift*/
    .forside-midt h1 {
        font-size: 35px; /*Skriftstørrelse mindre*/
        font-weight: 800; /*Tykkelse på skrift*/
        padding: 50px 20px 5px 20px; /*Luft omkring tekst*/
    }
    
    /*Ænddring i under-overskrift*/
    .forside-midt h2 {
        font-size: 17px; /*Skriftstørrelse mindre*/
        font-weight: 700; /*Tykkelse på skrift*/
        padding: 0px 30px 25px 30px; /*Luft omkring tekst*/
    }

    /*Ænddring i tekststykke p*/
    .forside-midt p {
        font-size: 14px; /*Skriftstørrelse mindre*/
        padding: 0px 40px 35px 40px; /*Luft omkring tekst*/
    }

    /*Billedgalleri mindre*/
    .mindre-i-res {
        width: 120px; /*mindre størrelse på billederne*/
    }

    /* Ændring i afstand til bund, nederst på siden */
    .tekst-bund-forside {
        display: none;
    }

     /* Ændring i størrelse på bryggeri-knap */
     .bryggeriets-historie-knap {
        font-size: 17px; /*Skriftstørrelssse*/
        font-weight: 600; /*Tykkelse på skrift*/
    }



/*---- BRYGGERIET - HTML ----*/
   
    /*Ændring i skriftstørrelse*/
    .b-forside-tekst {
        display: none; /*Fjerner i denne format*/
    }

    /*ARTIKLERNE OG BILLEDERNE ÆNDRER PLACERING HER */

    .fjern-i-responsiv {
        display: none; /*skjuler billede i denne responsive skærmstørrelses*/
        }

    .skjul-daaser {
        display: block; /*viser andet billede i denne responsive skærmstørrelses*/
    }

    .midt-tekst-bryggeriet {
        display: flex;
        flex-direction: column; /* Ændrer flex retning til kolonne for mindre skærme */
        align-items: center; /* Centrerer indholdet */
    }

    .billed-artikel-bryggeri {
        flex: none;
        padding: 0; /* Mindre padding for mindre skærme */
    }

    .billed-artikel-bryggeri img {
        width: 460px; /* Sætter billedbredden */
        padding-bottom: 0px; /* Justerer luft mellem billederne */
    }

    .artikel-bryggeri {
        padding: 20px; /* Mindre padding for tekst */
        text-align: center; /* Centrerer teksten */
    }

    .artikel-bryggeri h2 {
        padding-bottom: 10px; /* Mindre afstand mellem overskrifter */
        font-size: 20px;
    }

    .h2-luft {
        padding-top: 20px; /* Justering af top padding for overskrifter */
    }

    .sortiment-knap {
        position: relative; /* Gør knappen relative for at holde den inde i konteksten */
        right: 0;
        top: 20px; /*Afstand til tekst ovenfor*/
    }



/* ---- PRODUKTER - HTML -----*/
    /*Ændring i overskrift*/
    .produkt-overskrift h1 {
        padding-top: 0; /*Fjerner unødvendig afstand til top*/
        }

    /*Mindre størrelse*/ 
    .viderestiller-knap  {
        font-size: 15px; /* Skriftstørrelse */
        font-weight: 400; /* Skrifttykkelse*/
        margin-top: 20px;
        right: 55px;
        }
    
    /*Mindre skriftstørrelsse*/ 
    .artikel-bryggeri h1 {
        font-size: 30px; /*Skriftstørrelse*/
    }

/* ---- EVENTS - HTML ---- */

    /* Placering - p  */
    .artikel-events p {
         padding: 0 25px 20px 20px; /*Luft omkring tekststykke*/
         font-size: 12px; /*Skriftstørrelse*/
        }

    /*Ændirng i strørrelse på p-strong */
    .artikel-events p strong {
        font-weight: 650; /*Tykkelse på skrift*/
        font-size: 12px; /*skriftstørrelse*/
    }

    /*Overskrift i artiklen*/
    .artikel-events h1 {
        font-size: 23px; /*Skriftstørrelse*/
        padding-bottom: 15px; /*Mindre luft til nedenforstående tekst */
    }

    /*Størrelse på billeder*/
    .event-billede img {
        width: 400px; /* Bredde på billede*/
    }
    /* Placering - h2 */
    .artikel-events h2 {
        padding: 0px 25px 30px 20px; /*Luft omkring tekststykke*/
        font-size: 16px ; /*Skriftstørrelse*/
        }

    /* Styling - billedgalleri */
    section.event-billede img {
        max-width: 600px; /* Angiver billedernes størrelse*/
        }
 
    /*Størrelse på overskrift*/
    .produkt-overskrift h1 {
        font-size: 30px; /*Skriftstørrelse*/
    }

    /*Størrelse på billede*/
    .billedgalleri-e img {
        width: 350px; /* Angiver billedernes størrelse*/
    }

    /*Mindre afstand mellem billede og overskfift*/
    .events-side {
        margin-bottom: 20px; /* Afstand til nedenforstående */
        
    }

/* ---- KONTAKT - HTML ---- */

    /* Styling - Kontaktformular */
    .formular-kontakt {
        display: flex; /*Sikrer placering*/ 
        flex-direction: column; /*Placering i lodret række under hinanden*/
        padding: 20px; /* Luft omkring tekst*/;
        font-size: 12px;
        }

    /* Styling - felter i formular*/
    .formular-kontakt input,
    .formular-kontakt select,
    .formular-kontakt textarea {
        margin-bottom: 10px; /* Afstand til nedenforstående element*/
        padding: 10px; /* luft omkring skrift, i boks*/
        border: 1px solid var(--brun);
        border-radius: 15px; /*Samme runding som knapper*/
        max-width: 350px;
        font-size: 12px;
        }
    
    .events-side p {
        font-size: 15px;
        padding: 0 30px 15px 30px; /* Luft omkring tekst*/
        }


/*-------- FOOTER ------- */
    .footer {
        display: none;
    }


}